/.vs/MM_SAT_Solver/v15/ipch/AutoPCH/b570f5ca4d20ba0f/*.ipch
/.vs/MM_SAT_Solver/v15/ipch/AutoPCH/25505ab50efcdbc3/*.ipch
*.ipch
*.tlog
*.obj
*.suo
*.db
*.opendb
*.exe
*.ilk
*.log
*.pdb
*.idb
Debug
x64
/or-tools-stable
/or-tools_VisualStudio2017-64bit_v7.4.7247/examples/dotnet
/or-tools_VisualStudio2017-64bit_v7.4.7247/examples/java
